<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!-- "m: Aqui pedimos acceso al hardware requerido"-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escondidas">

        <!--
          <activity>: Declaración obligatoria de cada pantalla/vía de interfaz gráfica de la app.
          Si una Activity no está declarada en el Manifest, la app colapsará al intentar abrirla.
          - android:name: Nombre de la clase Kotlin/Java que representa la Activity.
            El punto (.ui.MainActivity) indica una ruta relativa respecto al paquete base ("com.udistrital.escondidas.ui.MainActivity").
          - android:exported="true": Obligatorio desde Android 12 (API 31+).
            Indica que esta Activity puede ser iniciada por componentes externos (en este caso, el Lanzador de Android).
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--
              <intent-filter>: Define el propósito y los eventos que la Activity es capaz de responder.
              En esta Activity principal se configura el punto de entrada de la app.
            -->
            <intent-filter>
                <!--
                  <action android:name="android.intent.action.MAIN">:
                  Identifica esta Activity como el punto de inicio principal de la aplicación.
                -->
                <action android:name="android.intent.action.MAIN" />

                <!--
                  <category android:name="android.intent.category.LAUNCHER">:
                  Indica al sistema que debe agregar un icono en el menú del teléfono para abrir esta Activity.
                -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>